<h2 id="title">Welcome to The Iron Yard</h2>

<ul>
  {{#each model as |person|}}
    <li>
      {{person.last}}, {{person.first}}

      {{#if person.isSmart}}
        <p>WOW SUCH SMART!!!</p>
      {{else}}
        <p>Go eat a donut...</p>
      {{/if}}
    </li>
  {{/each}}
</ul>

{{outlet}}
